.sec , .row{
  width: 100%;
}

.row{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
  margin: 20px;
}
.col {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;
}
select {
  width: 80%;
  height:30px;
}
input {
  width: 75%;
  height:30px;
}