* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header,
main {
  background-color: rgb(244, 240, 255);
  width: 80%;
  margin-left: 10%;
}

header,
main,
footer {
  width: 80%;
  margin-left: 10%;
}

header img {

  width: 20px;
  height: 20px;
}

footer {
  background-color: black;
  color: white;
}

header,
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

header {

  height: 80px;
  padding: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.menu {
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  height: 45px;


}

.menu:hover {
  background-color: chocolate;
}

a {
  text-decoration: none;
  color: white;
}

li>img {
  width: 20px;
  height: 20px;
}


/* nav < ul */
/* header ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
article {
  padding: 60px;
  margin: 30px;
}

h1,
article>p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p>span {
  display: inline-flex;
  flex-direction: row;
}

section {
  margin: 10px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 15px;
}

.secDiv {
  display: flex;
  flex-direction: row;
}

.secDiv>div {
  width: 20;
}

.secDiv img {
  width: 80%;
  border-radius: 50%;
}

.secDiv>p {
  width: 80%;
  font-size: medium;
  color: gray;
}

@media screen and (max-width : 1024px) {

  header,
  main,
  footer {
    width: 100%;
    margin-left: 0px;
  }

}

@media screen and (max-width : 768px) {

  header,
  header ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  header {
    height: auto;
    padding: 20%;
  }

  header li {
    width: 90%;
    margin-bottom: 5px;
  }
}