* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body>h1 {
  background-color: skyblue;
  width: 100%;
  justify-content: center;
  text-align: center;
}

body>ul {

  padding-left: 50px;
  margin:auto;
  background-color: bisque;
  border-radius: 5px;
  width: 80%;
  height: 80%;
  justify-content: center;
  font-size: larger ;
  list-style: none;
}


.link:hover {
  background-color: chocolate;
}