.sec{
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 1000px;
  height: 200px;
 
}

.sec > input {
  width: 70%;
  height: 30px;
  margin: 10px;
}
#txt1 {
  text-align: center;
}
#txt2 {
  background-color: antiquewhite;
  text-align: center;
}
.sec > button {
  width: 50%;
  margin: 5px;
  justify-content: center;
}